@(handler: be.objectify.deadbolt.scala.DeadboltHandler, context: utils.Context, form: Form[models.ChangeForm],
    page: Page[javabot.model.Change])(implicit request: Request[Any])

@import java.net.URLEncoder
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main(handler, context) {
    @helper.form(action = routes.Application.changes()) {
        <table class="changes zebra-striped">
            <tr>
                <td class="right top" colspan="4">
                    <div id="pagination" class="pagination">
                       <ul>
                           @page.prev.map { page =>
                               <li class="prev">
                                   <a href="@Application.encodeForm(routes.Application.changes() + "?page=" + page, form)">&larr; Previous</a>
                               </li>
                           }.getOrElse {
                               <li class="prev disabled">
                                   <a>&larr; Previous</a>
                               </li>
                           }
                           <li class="current">
                               Displaying @(page.offset + 1) to @(page.offset + page.items.size) of @page.total
                           </li>
                           @page.next.map { page =>
                               <li class="next">
                                   <a href="@Application.encodeForm(routes.Application.changes() + "?page=" + page, form)">Next &rarr;</a>
                               </li>
                           }.getOrElse {
                               <li class="next disabled">
                                   <a>Next &rarr;</a>
                               </li>
                           }
                       </ul>
                   </div>
                </td>
            </tr>
            <tr>
                <th>Message</th>
                <th class="right">Updated</th>
            </tr>
            <tr>
                <td><input type="text" name="message" value="@form("message").value"></td>
                <td class="right"><input type="submit" class="submit" name="Submit"></td>
            </tr>
            @for(change <- page.items) {
                <tr>
                    <td>@change.getMessage</td>
                    <td class="right">@{change.getChangeDate.toString("yyyy.MM.dd hh:mm")}</td>
                </tr>
            }
        </table>
    }
}