@(handler: be.objectify.deadbolt.scala.DeadboltHandler, context: utils.Context, page: Page[javabot.model.Karma])(implicit request: Request[Any])

@import java.net.URLEncoder
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main(handler, context) {
    <table class="karma zebra-striped">
        <tr>
            <td class="right top" colspan="4">
                <div id="pagination" class="pagination">
                   <ul>
                       @page.prev.map { page =>
                           <li class="prev">
                               <a href="@routes.Application.karma() + "?page=" + page">&larr; Previous</a>
                           </li>
                       }.getOrElse {
                           <li class="prev disabled">
                               <a>&larr; Previous</a>
                           </li>
                       }

                       <li class="current">
                           Displaying @(page.offset + 1) to @(page.offset + page.items.size) of @page.total
                       </li>
                       @page.next.map { page =>
                           <li class="next">
                               <a href="@routes.Application.karma() + "?page=" + page">Next &rarr;</a>
                           </li>
                       }.getOrElse {
                           <li class="next disabled">
                               <a>Next &rarr;</a>
                           </li>
                       }
                   </ul>
               </div>
            </td>
        </tr>
        <tr>
            <th>Nick</th>
            <th>Karma</th>
            <th>Last Donor</th>
            <th class="right">Date</th>
        </tr>
        @for(karma <- page.items) {
            <tr>
                <td>@karma.getName</td>
                <td>@karma.getValue</td>
                <td>@karma.getUserName</td>
                <td class="right">@{karma.getUpdated.toString("yyyy.MM.dd hh:mm")}</td>
            </tr>
        }
    </table>
}