@(handler: be.objectify.deadbolt.scala.DeadboltHandler, context: utils.Context, channel: String, date: String,
    before: String, after: String)(implicit request: Request[Any])

@import java.net.URLEncoder
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main(handler, context) {
    <table class="mytable">
        <tr>
            <td class="tableWrapper" colspan="3">
                <table class="myTable">
                    <tr>
                        <td class="dateNav top">
                            <h3>
                                <a href="@{routes.Application.logs(URLEncoder.encode(channel, "UTF-8"), before)}">&laquo; @before</a>
                            </h3>
                        </td>
                        <td class="dateNav top today">
                            <h3>@date</h3>
                            @restrict(handler, List(as("botAdmin"))) {
                                <a href="@{routes.AdminController.showChannel(channel)}">(edit channel)</a>
                            }
                        </td>
                        <td class="dateNav top right nextNav">
                            <h3>
                                <a href="@{routes.Application.logs(URLEncoder.encode(channel, "UTF-8"), after)}">@after &raquo;</a>
                            </h3>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="logHeader">
            <th>Nick</th>
            <th>Message</th>
            <th class="right">Date</th>
        </tr>
        @context.logs.map { log =>
            <tr>
                @if(log.isAction()) {
                    <td colspan="2">@{log.getMessage}</td>
                }
                @if(log.isKick()) {
                    <td class="kick" colspan="2">*** @{log.getNick} @{log.getMessage}</td>
                }
                @if(log.isServerMessage()) {
                    <td class="server" colspan="2">*** @{log.getNick} @{log.getMessage}</td>
                } else {
                    <td class="nick">@{log.getNick}</td>
                    <td>@{log.getMessage}</td>
                }
                <td class="time right">[@{log.getUpdated.toString("hh:mm")}]</td>
            </tr>
        }
    </table>
}