@(handler: be.objectify.deadbolt.java.DeadboltHandler, context: utils.Context, form: Form[models.Admin], admins: java.util.List[javabot.model.Admin])

@import com.antwerkz.sofia.Sofia

@main(handler, context) {
    @helper.form(action = routes.AdminController.addAdmin()) {
        <table class="form">
            <tr class="topRow">
                <td><label for="email">@Sofia.ircName()</label></td>
                <td class="right"><input type="text" id="irc" name="ircName"></td>
            </tr>
            <tr class="topRow">
                <td><label for="email">@Sofia.hostName()</label></td>
                <td class="right"><input type="text" id="host" name="hostName"></td>
            </tr>
            <tr>
                <td><label for="email">@Sofia.email()</label></td>
                <td class="right"><input type="text" id="email" name="email"></td>
            </tr>
            <tr>
                <td colspan="2" class="form-submit right">
                    <input type="submit" value="Submit">
                </td>
            </tr>
        </table>
    }
    <table>
        <tr>
            <th class="top">IRC Name</th>
            <th class="top">Host Name</th>
            <th class="top">User Name</th>
            <th class="top">Added By</th>
            <th class="top">Added On</th>
            <th class="top right">Action</th>
        </tr>
        @for(admin <- admins) {
            <tr>
                <td>
                    @{admin.getIrcName}
                </td>
                <td>
                    @{admin.getHostName}
                </td>
                <td>@{admin.getUserName}</td>
                <td>@{admin.getAddedBy}</td>
                <td class="right">@{admin.getUpdated.toString("yyyy-MM-dd")}</td>
                <td class="right top">
                    @if(!admin.getBotOwner) {
                        <a href="@{routes.AdminController.deleteAdmin(admin.getId.toString)}">
                            <img src="@routes.Assets.at("/images/boomy/delete24.png")" alt="Delete"/>
                        </a>
                    }
                </td>
            </tr>
        }
    </table>
}
