@(handler: be.objectify.deadbolt.java.DeadboltHandler, context: utils.Context,
    channelForm: play.data.Form[javabot.model.Channel])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main(handler, context) {
    @helper.form(action = routes.AdminController.saveChannel) {
        <table class="form">
            <tr>
                <td class="top">Name</td>
                <td class="top right">
                    @if(channelForm("id").value() != null) {
                        <input type="hidden" name="channel.id" value='@channelForm("id").valueOr("")'/>
                    }

                    <input type="text" name="channel.name" value='@channelForm("name").valueOr("")'
                        @if(channelForm("id").value() != null){ disabled }
                    />
                    <span class="error">#{error 'channel.name' /}</span>
                </td>
            </tr>
            <tr>
                <td>Key (optional)</td>
                <td class="right"><input type="text" name="channel.key" value='@channelForm("key").valueOr("")'/></td>
            </tr>
            <tr>
                <td>Logged?</td>
                <td class="right">
                    <select name="channel.logged">
                        <option value="true" title="yes" @if(channelForm("logged").value() == "true"){ selected }>yes</option>
                        <option value="false" title="no" @if(channelForm("logged").value() == "false"){ selected }>no</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="form-submit right" colspan="2">
                    <input type="submit" value="Save">
                </td>
            </tr>
        </table>
    }
}
