*.iml
*.ipr
*.iws
*.swp
.classpath
.history
.idea
.idea_modules
.project
.settings
RUNNING_PID
bin/dumps
dist
idea-files
javabot-play/conf/javabot.properties
javabot-play/conf/oauth.*
javabot.properties
logs
out
play.war
project/project
project/target
target
test-javabot.properties
tmp
web/conf/oauth.*
