*.iml
*.ipr
*.iws
*.swp
.classpath
.history
.idea
.idea_modules
.project
.settings
bin/dumps
dist
idea-files
javabot.properties
javabot.yml
logs
out
target
test-javabot.properties
tmp
dependency-reduced-pom.xml
*~
Sofia.java
/javadoc/
# used by jottinger for local testing of mongo database
/data/
