*.iml
*.ipr
*.iws
*.swp
.classpath
.history
.idea
.idea_modules
.project
.settings
RUNNING_PID
bin/dumps
core/src/main/java/javabot/criteria/
dist
idea-files
javabot.properties
javabot.yml
logs
out
play.war
project/project
project/target
target
test-javabot.properties
tmp
web/conf/oauth.*
