@(handler: be.objectify.deadbolt.scala.DeadboltHandler, context: utils.Context,
    form: Form[ConfigInfo], currentOps: Set[String],
	operations: List[String])(implicit request: Request[Any])

@import com.antwerkz.sofia.Sofia

@main(handler, context) {
    @helper.form(action = routes.AdminController.saveConfig) {
        <div class="alert alert-error">
            @if(form.hasErrors) {
                @for( error <- form.errors) {
                    @error.message
                }
            }
        </div>

        <table class="form">
            <tr>
                <td class="top">@Sofia.webUrl()</td>
                <td class="top right">
                    <input type="text" id="url" name="url" value="@form("url").value"/>
                </td>
            </tr>
            <tr>
                <td class="right">
                    @Sofia.ircServer()
                </td>
                <td class="right">
                    <input type="text" id="server" name="server" value="@form("server").value"/>
                </td>
            </tr>
            <tr>
                <td>
                    @Sofia.ircPort()
                </td>
                <td class="right">
                    <input type="text" id="port" name="port" value="@form("port").value"/>
                </td>
            </tr>
            <tr>
                <td>
                    @Sofia.ircHistory()
                </td>
                <td class="right">
                    <input type="text" id="historyLength" name="historyLength" value="@form("historyLength").value"/>
                </td>
            </tr>
            <tr>
                <td>
                    @Sofia.ircTrigger()
                </td>
                <td class="right">
                    <input type="text" id="trigger" name="trigger" value="@form("trigger").value"/>
                </td>
            </tr>
            <tr>
                <td>
                    @Sofia.ircNick()
                </td>
                <td class="right">
                    <input type="text" id="nick" name="nick" value="@form("nick").value"/>
                </td>
            </tr>
            <tr>
                <td>
                    @Sofia.ircPassword()
                </td>
                <td class="right">
                    <input type="password" id="password" name="password" value="@form("password").value"/>
                </td>
            </tr>
            <tr>
                <td class="right form-submit" colspan="2">
                    <input type="submit" value="Save"/>
                </td>
            </tr>
        </table>

        <h2>Operations:</h2>
        <div class="columns">
            <table class="form operations">
                @for(operation <- operations) {
                    <tr>
                        <td class="top">@{operation}</td>
                        <td class="top button">
                            <a title="Enable" @{if(!currentOps.contains(operation)) "class=active" else "class=inactive"}
                                href="@{routes.AdminController.enableOperation(operation)}">
                            <img src="@routes.Assets.at("/images/boomy/add24.png")"></a>
                        </td>
                        <td class="top right button">
                            <a title="Disable" @{if(currentOps.contains(operation)) "class=active" else "class=inactive"}
                                href="@{routes.AdminController.disableOperation(operation)}">
                            <img src="@routes.Assets.at("/images/boomy/delete24.png")"></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
}
