@(handler: be.objectify.deadbolt.scala.DeadboltHandler, context: utils.Context,
    config: javabot.model.Config, operations: List[String])(implicit request: Request[Any])

@import com.antwerkz.sofia.Sofia

@main(handler, context) {
    @helper.form(action = routes.AdminController.saveConfig) {
    <table class="form">
        <tr>
            <td class="top">@Sofia.webUrl()</td>
            <td class="top right">
                <input type="hidden" id="id" name="id" value="@config.getId()"/>
                <input type="text" id="url" name="url" value="@config.getUrl()"/>
            </td>
            <td class="top right" rowspan="12">
                <ul>
                    @for(operation <- operations) {
                        <li><input type="checkbox" id="@{operation}" name="operations" value="@{operation}"
                            @if(config.getOperations.contains(operation)){ checked="true" }/>@{operation} </li>
                    }
                </ul>
            </td>
        </tr>
        <tr>
            <td class="top">
                @Sofia.ircServer()
            </td>
            <td class="top">
                <input type="text" id="server" name="server" value="@config.getServer()"/>
            </td>
        </tr>
        <tr>
            <td>
                @Sofia.ircPort()
            </td>
            <td class="right">
                <input type="text" id="port" name="port" value="@config.getPort()"/>
            </td>
        </tr>
        <tr>
            <td>
                @Sofia.ircHistory()
            </td>
            <td class="right">
                <input type="text" id="historyLength" name="historyLength" value="@config.getHistoryLength()"/>
            </td>
        </tr>
        <tr>
            <td>
                @Sofia.ircTrigger()
            </td>
            <td class="right">
                <input type="text" id="trigger" name="trigger" value="@config.getTrigger()"/>
            </td>
        </tr>
        <tr>
            <td>
                @Sofia.ircNick()
            </td>
            <td class="right">
                <input type="text" id="nick" name="nick" value="@config.getNick()"/>
            </td>
        </tr>
        <tr>
            <td>
                @Sofia.ircPassword()
            </td>
            <td class="right">
                <input type="password" id="password" name="password" value="@config.getPassword()"/>
            </td>
        </tr>
        <tr>
            <td class="right form-submit" colspan="2">
                <input type="submit" value="Save"/>
            </td>
        </tr>
    </table>
    }
}
