@(handler: be.objectify.deadbolt.scala.DeadboltHandler, context: utils.Context,
    channelForm: Form[models.ChannelInfo])(implicit request: Request[Any])

@import helper._

@main(handler, context) {
    @helper.form(action = routes.AdminController.saveChannel) {
        <table class="form">
            <tr>
                <td class="top">Name</td>
                <td class="top right">
                    @if(channelForm("id") != null) {
                        <input type="hidden" name="channel.id" value='@channelForm("id")'/>
                    }
                    <input type="text" name="channel.name" value='@channelForm("name")'
                    @if(channelForm("id") != null){ disabled }/>
                    <span class="error">#{error 'channel.name' /}</span>
                </td>
            </tr>
            <tr>
                <td>Key (optional)</td>
                <td class="right"><input type="text" name="channel.key" value="${channel?.key}"/></td>
            </tr>
            <tr>
                <td>Logged?</td>
                <td class="right">
                    <select name="channel.logged">
                        <option value="true" title="yes">yes</option>
                        <option value="false" title="no">no</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="form-submit right" colspan="2">
                    <input type="submit" value="Save">
                </td>
            </tr>
        </table>
    }
}
