<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="factoidDao" class="javabot.dao.FactoidDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="changesDao" class="javabot.dao.ChangesDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="seenDao" class="javabot.dao.SeenDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="logDao" class="javabot.dao.LogDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="channelDao" class="javabot.dao.ChannelConfigDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
         <property name="locations">
            <list>
                <value>/WEB-INF/locations.properties</value>
            </list>
</property>
    </bean>

    <bean id="javabotDS" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="annotatedClasses">
            <list>
                <value>javabot.dao.model.Factoid</value>
                <value>javabot.dao.model.Change</value>
                <value>javabot.dao.model.Seen</value>
                <value>javabot.dao.model.Logs</value>
                <value>javabot.dao.model.ChannelConfig</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">true</prop>
                <!--
                                <prop key="hibernate.cache.use_second_level_cache">false</prop>
                -->
                <prop key="use_outer_join">true</prop>
                <!--<prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</prop>-->

                <prop key="hibernate.bytecode.use_reflection_optimizer">true
                </prop>
                <prop key="hibernate.connection.release_mode">
                    after_transaction
                </prop>
                <prop key="hibernate.cglib.use_reflection_optimizer">true
                </prop>
                <prop key="hibernate.transaction.flush_before_completion">true
                </prop>
                <prop key="hibernate.transaction.auto_close_session">true
                </prop>
                <prop key="hibernate.current_session_context_class">thread
                </prop>


            </props>
        </property>

        <!--
                <property name="schemaUpdate"><value>true</value></property>
        -->


        <property name="dataSource" ref="javabotDS"/>


    </bean>

    <bean id="javabotTransactionManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean class="org.springframework.transaction.interceptor.TransactionAttributeSourceAdvisor">
        <property name="transactionInterceptor" ref="transactionInterceptor"/>
    </bean>

    <bean id="transactionInterceptor"
          class="org.springframework.transaction.interceptor.TransactionInterceptor">
        <property name="transactionManager" ref="javabotTransactionManager"/>
        <property name="transactionAttributeSource">
            <bean class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource"/>
        </property>
    </bean>


</beans>

