<?xml version="1.0"?>
<!DOCTYPE javabot SYSTEM "javabot.dtd">
<javabot verbose="true">
	<!--
		replace the following server and port with whatever you want to
		use
	-->
	<server name="irc.SOMETHING.net" port="6667"/>

	<!--
		replace the following URL with the version of Java you want to
		reference in JavadocOperation
	-->
	<javadoc
		reference-xml="docref.xml"
		base-url="http://java.sun.com/j2se/1.5.0/docs/api/"
	/>
		
	<factoids
		filename="map.serialized"
		htmlfilename="factoids.html"
		factoidChangeLog="factoid.changelog"
	/>
		
	<dict host="dict.org"/>
	<nick name="javabot"/>

	<!--
		replace the following with the password you want, and the wait
		with however long your network's nickserv takes to reply.
	-->
	<auth password="PASSWORD_GOES_HERE" wait="3000"/>
	
	<!--
		Replace the following with whatever you want javabot to reply
		to.  Maybe if you put nothing there it will reply to
		everything in a public channel.
	-->
	<message tag="~"/>
	<message tag="javabot: "/>
	<message tag="javabot, "/>
	<message tag="javabot "/>

	<!--
		Replace the following with whatever channels you want
		javabot to join.
	-->
	<channel name="#channel"/>
	<channel name="#anotherchannel"/>
	<channel name="#yetanotherchannel"/>

	<!-- The order of these operations is important - javabot sends
	messages to each in turn. -->
	
	<operation class="javabot.operations.Magic8BallOperation"/>
	<operation class="javabot.operations.DaysToChristmasOperation"/>
	<operation class="javabot.operations.DaysUntilOperation"/>
	<operation class="javabot.operations.DictOperation"/>
	<operation class="javabot.operations.ForgetFactoidOperation"/>
	<operation class="javabot.operations.GuessOperation"/>
	<operation class="javabot.operations.IgnoreOperation"/>
	<operation class="javabot.operations.JavadocOperation"/>
	<operation class="javabot.operations.KarmaChangeOperation"/>
	<operation class="javabot.operations.KarmaReadOperation"/>
	<operation class="javabot.operations.LeaveOperation"/>
	<operation class="javabot.operations.LiteralOperation"/>
	<operation class="javabot.operations.NickometerOperation"/>
	<operation class="javabot.operations.QuitOperation"/>
	<operation class="javabot.operations.Rot13Operation"/>
	<operation class="javabot.operations.SayOperation"/>
	<operation class="javabot.operations.SpecialCasesOperation"/>
	<operation class="javabot.operations.StatsOperation"/>
	<operation class="javabot.operations.TellOperation"/>
	<operation class="javabot.operations.TimeOperation"/>
	<operation class="javabot.operations.UnixCommandOperation"/>
	<operation class="javabot.operations.AddFactoidOperation"/>
	
	<!--
		Note that GetFactoidOperation should always be *LAST*
		in the list, as it is a last resort, it even tries to guess.
		Everything else should be above this line.
	-->
	<operation class="javabot.operations.GetFactoidOperation"/>
</javabot>
