javabot.server=irc.freenode.org
javabot.port=6667

database.name=javabot

javabot.nick=
javabot.password=
javabot.admin.nick=
javabot.admin.hostmask=

### Needed only to migrate from RDBMS to mongo
jdbc.url=jdbc:postgresql:javabot
jdbc.username=javabot
jdbc.password=javabot
jdbc.driver=org.postgresql.Driver