<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="5" skipfailedinvocationCounts="false" verbose="0" name="Failed suite [Command line suite]"
       junit="false" annotations="JDK">
    <test name="Command line test(failed)" junit="false" annotations="JDK">
        <classes>
            <class name="javabot.mock.NickometerOperationsTest"/>
            <class name="javabot.mock.SayOperationsTest"/>
            <class name="javabot.dao.ChannelDaoTest"/>
            <class name="javabot.dao.FactoidDaoTest"/>
            <class name="javabot.dao.LogDaoTest"/>
            <class name="javabot.dao.SeeLoopTest"/>
            <class name="javabot.operations.AddFactoidOperationTest"/>
            <class name="javabot.operations.BaseOperationTest"/>
            <class name="javabot.operations.ForgetFactoidOperationTest"/>
            <class name="javabot.operations.GetFactoidOperationTest"/>
            <class name="javabot.operations.JCPJSFLocatorImplTest"/>
            <class name="javabot.operations.KarmaChangeOperationTest"/>
            <class name="javabot.operations.ShunOperationTest"/>
            <class name="javabot.admin.AdminOperationTest"/>
            <class name="javabot.admin.JavadocTest"/>
            <class name="javadoc.JavadocParserTest"/>
            <class name="javabot.operations.JavadocOperationTest"/>
        </classes>
    </test>
</suite>
