@(handler: be.objectify.deadbolt.java.DeadboltHandler, context: utils.Context, form: play.data.Form[javabot.model.Change],
    page: Page[javabot.model.Change])

@import java.net.URLEncoder
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import scala.collection.JavaConversions._

@main(handler, context) {
    @helper.form(action = routes.Application.changes()) {
        <table class="changes zebra-striped">
            <tr>
                <td class="right top" colspan="4">
                    <div id="pagination" class="pagination">
                       <ul>
                           @if(page.prev) {
                               <li class="prev">
                                   <a href="@page.prev">&larr; Previous</a>
                               </li>
                           }else {
                               <li class="prev disabled">
                                   <a>&larr; Previous</a>
                               </li>
                           }
                           <li class="current">
                               Displaying @(page.offset + 1) to @(page.offset + page.items.size) of @page.total
                           </li>
                           @if(page.next) {
                               <li class="next">
                                   <a href="@page.next">Next &rarr;</a>
                               </li>
                           } else {
                               <li class="next disabled">
                                   <a>Next &rarr;</a>
                               </li>
                           }
                       </ul>
                   </div>
                </td>
            </tr>
            <tr>
                <th>Message</th>
                <th class="right">Updated</th>
            </tr>
            <tr>
                <td><input type="text" name="message" value="@form("message").value"></td>
                <td class="right"><input type="submit" class="submit" name="Submit"></td>
            </tr>
            @for(change <- page.items) {
                <tr>
                    <td>@change.getMessage</td>
                    <td class="right">@{change.getChangeDate.toString("yyyy.MM.dd hh:mm")}</td>
                </tr>
            }
        </table>
    }
}