@(handler: be.objectify.deadbolt.java.DeadboltHandler, context: utils.Context, form: play.data.Form[javabot.model.Factoid],
    page: Page[javabot.model.Factoid])

@import java.net.URLEncoder
@import controllers.Encodings
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import scala.collection.JavaConversions._

@main(handler, context) {
    @helper.form(action = routes.Application.showFactoids()) {
        <table class="factoids zebra-striped">
            <tr>
                <td class="right top" colspan="4">
                    <div id="pagination" class="pagination">
                       <ul>
                           @if(page.prev != null) {
                               <li class="prev"><a href="@page.prev">&larr; Previous</a></li>
                           } else {
                               <li class="prev disabled"><a>&larr; Previous</a></li>
                           }
                           <li class="current">
                               Displaying @(page.offset + 1) to @(page.offset + page.items.size) of @page.total
                           </li>
                           @if(page.next != null) {
                               <li class="next"><a href="@page.next">Next &rarr;</a></li>
                           } else {
                               <li class="next disabled"><a>Next &rarr;</a></li>
                           }
                       </ul>
                   </div>
                </td>
            </tr>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Added By</th>
                <th class="right">Updated</th>
            </tr>
            <tr>
                <td><input type="text" name="name" value="@form("name").value"></td>
                <td><input type="text" name="value" value="@form("value").value"></td>
                <td><input type="text" name="user" value="@form("user").value"></td>
                <td class="right"><input type="submit" class="submit" name="Submit"></td>
            </tr>
            @for(factoid <- page.items) {
                <tr>
                    <td>
                        @restrict(List(as("botAdmin"))) {
                            <a id="@factoid.getId" href="" class="locklink if(factoid.getLocked) locked">&nbsp;</a>
                        }
                    @factoid.getName
                    </td>
                    <td>@factoid.getValue</td>
                    <td>@factoid.getUserName</td>
                    <td class="right">@{factoid.getUpdated.toString("yyyy.MM.dd hh:mm")}</td>
                </tr>
            }
        </table>
    }

    <script>
        $('.locklink').click(function () {
            var id = this.id;
            $.get('toggleLock' , 'id='+ id,
                function (responseText) {
                    $('#' + id).toggleClass('locked')
                }, 'html'
            );
            return false;
        });
    </script>
}