@(handler: be.objectify.deadbolt.java.DeadboltHandler, context: utils.Context, channel: String, date: String,
    before: String, after: String)

@import java.net.URLEncoder
@import java.time.format.DateTimeFormatter
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import javabot.model.Logs.Type._
@import scala.collection.JavaConversions._

@main(handler, context) {
    <table class="mytable">
        <tr>
            <td class="tableWrapper" colspan="3">
                <table class="myTable">
                    <tr>
                        <td class="dateNav top">
                            <h3>
                                <a href="@{routes.Application.logs(URLEncoder.encode(channel, "UTF-8"), before)}">&laquo; @before</a>
                            </h3>
                        </td>
                        <td class="dateNav top today">
                            <h3>@date</h3>
                            @restrict(List(as("botAdmin"))) {
                                <a href="@{routes.AdminController.showChannel(channel)}">(edit channel)</a>
                            }
                        </td>
                        <td class="dateNav top right nextNav">
                            <h3>
                                <a href="@{routes.Application.logs(URLEncoder.encode(channel, "UTF-8"), after)}">@after &raquo;</a>
                            </h3>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="logHeader">
            <th>Nick</th>
            <th>Message</th>
            <th class="right">Date</th>
        </tr>
        @for( log <- context.logs) {
            <tr>
                @{
                    log.getType match {
                        case ACTION => <td colspan="2">{log.getNick} {log.getMessage}</td>
                        case KICK => <td class="kick" colspan="2">*** {log.getNick} {log.getMessage}</td>
                        case JOIN | PART | QUIT => <td class="server" colspan="2">*** {log.getNick} {log.getMessage}</td>
                        case _ => {
                                <td class="nick">{log.getNick}</td>
                                <td>{log.getMessage}</td>
                        }
                    }
                }
            <td class="time right">[@{DateTimeFormatter.ofPattern("hh:mm").format(log.getUpdated)}]</td>
            </tr>
        }
    </table>
}