<configuration scan="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="javabot" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="freemarker.cache">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.pircbotx.InputParser" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.reflections.Reflections" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>