@lightblue: #2153AA;
@fontfamily: verdana,
arial, sans-serif

;
@sidebarimage: url('../images/side_bg.gif');
@border: 1px solid #C1DAD7;

body {
    font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #E6EAE9;
}

ul {
    list-style-type: none;
}

a {
    &:link {
        color: #0000FF;
        text-decoration: none;
    }

    &:visited {
        color: #0000FF;
        text-decoration: none;
    }

    &:active {
        color: #0000FF;
        text-decoration: none;
    }

    &:hover {
        color: #FF0000;
        text-decoration: underline;
    }
}

#page_wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    text-align: left;
    background: #FFFFFF;
    border: 8px solid #FFFFFF;
}

#header_wrapper {
    background: #4E7DD1 url('../images/menu_bg.gif') bottom left repeat-x;
    margin: 0;
    padding: 0;
}

#header {
    height: 60px;
    padding: 15px;
    background: url('../images/header_bg.gif') top right no-repeat;
    margin: 0;
    font-family: @fontfamily;

    h1 {
        font-size: 28px;
        color: #ffffff;
        letter-spacing: -1px;
    }

    h2 {
        font-size: 14px;
        color: #B1C6EB;
        letter-spacing: 1px;
    }
}

#left_side {
    float: left;
}

#right_side {
    float: right;
}

#left_side, #right_side {
    margin-top: 10px;
    width: 15%;
    background: #F1F6FE @sidebarimage bottom left repeat-x;

    p {
        margin: 15px 10px;
        font-family: @fontfamily;
        font-size: 11px;
        line-height: 16px;
        color: #333333;
    }

    h3 {
        margin: 5px 5px 10px;
        padding: 4px;
        font-family: @fontfamily;
        font-size: 14px;
        font-weight: bold;
        line-height: 14px;
        color: #FFFFFF;
        border: 1px solid #0F3974;
        background-color: @lightblue;
    }

    h4 {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
        font-family: @fontfamily;
        font-size: 12px;
        font-weight: bold;
        line-height: 12px;
        color: @lightblue;
    }
}

.mytable {
    width: 70%;
}

#content {
    margin: 20px 180px 0;

    p {
        margin-top: 15px;
        margin-bottom: 15px;
        font-family: @fontfamily;
        font-size: 12px;
        line-height: 18px;
        color: #333333;
    }

    h3 {
        margin-top: 5px;
        margin-bottom: 10px;
        font-family: @fontfamily;
        font-size: 18px;
        font-weight: bold;
        line-height: 18px;
        color: @lightblue;
    }

    h4 {
        margin-top: 0;
        margin-bottom: 0;
        font-family: @fontfamily;
        font-size: 14px;
        font-weight: bold;
        line-height: 12px;
        color: @lightblue;
    }
}

table {
    color: #4f6b72;
}

th {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    border-bottom: @border;
    border-top: @border;
    letter-spacing: 2px;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA url(../images/bg_header.jpg) no-repeat;

    &.right {
        border-right: @border;
    }
}

.left {
    border-left: @border;
    border-right: @border;
    text-align: left;
    padding: 6px 6px 6px 12px;
}

td {
    margin: 0;
    border-left: @border;
    border-bottom: @border;
    background: #fff;
    padding: 6px 6px 6px 12px;
    color: #4f6b72;
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    max-width: 20%;
    overflow-wrap: break-word;

    &.left {
        font-weight: bolder;
    }

    &.right {
        border-right: @border;
    }

    &.top {
        border-top: @border;
    }

    &.server {
        font-weight: normal;
        font-style: italic;
    }

    &.kick {
        font-weight: normal;
        font-style: italic;
        color: red;
    }

    &.even {
        background: #fff url(../images/bullet1.gif) no-repeat;
    }

    &.odd {
        background: #fff url(../images/bullet2.gif) no-repeat;
    }

    &.alt {
        background: #F5FAFA;
        color: #797268;
    }
}

table {
    border-collapse: collapse;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
}

.pagination-container {
    display: inline;
    float: right;
}

.submit {
    visibility: hidden;
}