#{extends 'main.html' /}

<table class="changes">
    <tr>
        <td class="right top" colspan="4">
        #{paginate.summary items:context.paginator/}
            #{paginate.controls items:context.paginator /}
        </td>
    </tr>
    <tr>
        <th class="left">Message</th>
        <th class="right">Updated</th>
    </tr>
    <tr>
        <td class="right" colspan="2">
            <form action="@{Application.changes}">
                <input name="message" value="${message}">
                <input type="submit" class="submit">
            </form>
        </td>
    </tr>
#{paginate.list items:context.paginator, as:'change'}
    <tr>
        <td>${change.message}</td>
        <td class="right">${change.changeDate.format("yyyy.MM.dd hh:mm")}</td>
    </tr>
#{/paginate.list}
</table>
