#{extends 'main.html' /}
<table class="mytable">
    <tr id="logHeader">
        <th class="left">Nick</th>
        <th>Message</th>
        <th>Date</th>
    </tr>
    #{list context.logs, as: 'log'}
    <tr>
        #{if log.isAction()}
            <td class="left" colspan="2">${log.message}</td>
        #{/if}
        #{elseif log.isKick()}
            <td class="left kick" colspan="2">*** ${log.nick} ${log.message}</td>
        #{/elseif}
        #{elseif log.isServerMessage()}
            <td class="left server" colspan="2">*** ${log.nick} ${log.message}</td>
        #{/elseif}
        #{else}
            <td class="left nick">${log.nick}</td>
            <td>${log.message}</td>
        #{/else}
        <td class="time">[${log.updated.format("hh:mm")}]</td>
    </tr>
    #{/list}
</table>
