#{extends 'main.html' /}
<table class="mytable">
    <tr>
        <td class="tableWrapper" colspan="3">
            <table class="myTable">
                <tr>
                    <td class="dateNav top">
                        <h3>
                            <a href="@{Application.logs(channel.urlEncode(), before)}">&laquo; ${before.format("yyyy-MM-dd")}</a>
                        </h3>
                    </td>
                    <td class="dateNav top today">
                        <h3>${date.format("yyyy-MM-dd")}</h3>
                    #{deadbolt.restrict roles:[['botAdmin']]}
                        <a href="@{AdminController.showChannel(channel)}">(edit channel)</a>
                    #{/deadbolt.restrict}
                    </td>
                    <td class="dateNav top right nextNav">
                        <h3>
                            <a href="@{Application.logs(channel.urlEncode(), after)}">${after.format("yyyy-MM-dd")} &raquo;</a>
                        </h3>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr id="logHeader">
        <th>Nick</th>
        <th>Message</th>
        <th class="right">Date</th>
    </tr>
#{list context.logs, as: 'log'}
    <tr>
        #{if log.isAction()}
            <td colspan="2">${log.message}</td>
        #{/if}
        #{elseif log.isKick()}
            <td class="kick" colspan="2">*** ${log.nick} ${log.message}</td>
        #{/elseif}
        #{elseif log.isServerMessage()}
            <td class="server" colspan="2">*** ${log.nick} ${log.message}</td>
        #{/elseif}
        #{else}
            <td class="nick">${log.nick}</td>
            <td>${log.message}</td>
        #{/else}
        <td class="time right">[${log.updated.format("hh:mm")}]</td>
    </tr>
#{/list}
</table>
