<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j.properties</param-value>
    </context-param>

    <!-- The SpringWebApplicationFactory will need access to a Spring Application context, configured like this... -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>

    <listener><listener-class>org.springframework.web.util.Log4jConfigListener</listener-class></listener>

    <listener><listener-class>org.springframework.web.context.ContextLoaderListener</listener-class></listener>

    <context-param><param-name>configuration</param-name><param-value>development</param-value></context-param>

    <filter>
        <filter-name>fn-javabot</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter
        </filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>wicket.core.JavabotApplication</param-value>
        </init-param>
    </filter>2

    <filter-mapping>
        <filter-name>fn-javabot</filter-name>
        <url-pattern>/javabot/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AdminApplication</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>javabot.admin.AdminApplication</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>AdminApplication</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>javabot</servlet-name>
        <servlet-class>javabot.servlet.JavabotServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
</web-app>