# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Javabot

on:
  push:
    branches:
      - 'master'

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: GH Login
        run: gh auth login --with-token < ${{ secrets.PRIVATE_FILES }}
      - name: Download files
        uses: actions/checkout@v2
        with:
          repository: evanchooly/privateFiles
          ref: main
          path: files
          token: ${{ secrets.PRIVATE_FILES }}
      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: \${{ runner.os }}-m2-\${{ hashFiles('**/pom.xml') }}
          restore-keys: \${{ runner.os }}-m2
      - name: Configure the bot
        run: echo "${{ secrets.JAVABOT_PROPERTIES }}" > javabot.properties
      - name: Build with Maven
        run: mvn -e install
